---
layout: default
---

<div class="container main">
	<div class="row">
		<div class="col-md-5 col-sm-12 first-column">
			<h1 class="profile-header" title="[marc&#618;n &#712;b&#603;n&#603;&#643;]"><a href="/" class="noformat"><strong>Martin Beneš</strong></a><br />
				<span class="h5 text-muted">computer & data scientist</span>
			</h1>
			<img src="img/martinbenes.jpg" title="Martin Benes" class="profile-photo" alt="Title photo of the author Martin Benes." />
			<h2 class="profile-subheader" style="display: none">Profile</h2>
			<div class="profile-text">
				<h3 class="profile-subheader" style="display: none">Profile description</h3>
				<p>
					Computer & data scientist.
					Open-source software developer.
					Finishing up my PhD at University of Innsbruck.
				</p>
				<p>
					Previously R&D intern at Blindspot,
					and backend developer at TaxiCaller and Artisys.
				</p>
				<p>
					MSc. in Statistics and machine learning from Linköping University.
					Bc. in Information technology from Brno University of Technology.
				</p>
			</div>
			{% include profile-links.html %}
		</div>
		<div class="col-md-7 col-sm-12 second-column">
			{% include nav.html %}
			<div class="row">
				<h2 class="section-header">Latest publications</h2>
				<hr class="section-separator" />

				<div>

					<article class="list-item">
						<b>Steganalysis exploiting JPEG block padding</b><br />
						<span class="text-muted">IEEE WIFS 2026</span><br />
						<span class="pub-link pub-pending" data-tooltip="In preparation"><i class="fa-regular fa-file-pdf" aria-hidden="true"></i> PDF<span class="sr-only"> (in preparation)</span></span>
						<a href="https://github.com/uibk-uncover/JPA" target="_blank" rel="noopener noreferrer nofollow" class="pub-link"><i class="fa-brands fa-github" aria-hidden="true"></i> Code</a>
						<span class="pub-sep" aria-hidden="true">|</span>
						<span class="pub-link pub-pending" data-tooltip="In preparation"><i class="fa-solid fa-building-columns" aria-hidden="true"></i> Publisher<span class="sr-only"> (in preparation)</span></span>
						<a href="/static/benes2026steganalysis.bib.txt" target="_blank" rel="noopener noreferrer nofollow" class="pub-link js-bibtex" aria-expanded="false"><i class="fa-solid fa-quote-right" aria-hidden="true"></i> BibTeX</a>
					</article>
					<article class="list-item">
						<b>Variational cover modification steganography</b><br />
						<span class="text-muted">NeurIPS 2026</span><br />
						<span class="pub-link pub-pending" data-tooltip="In preparation"><i class="fa-regular fa-file-pdf" aria-hidden="true"></i> PDF<span class="sr-only"> (in preparation)</span></span>
						<!-- <a href="https://github.com/uibk-uncover/vcms" target="_blank" rel="noopener noreferrer nofollow" class="pub-link"><i class="fa-brands fa-github" aria-hidden="true"></i> Code</a> -->
						<span class="pub-link pub-pending" data-tooltip="In preparation"><i class="fa-brands fa-github" aria-hidden="true"></i> Code<span class="sr-only"> (in preparation)</span></span>
						<span class="pub-sep" aria-hidden="true">|</span>
						<a href="https://neurips.cc/virtual/2026/loc/sydney/poster/149566" target="_blank" rel="noopener noreferrer nofollow" class="pub-link"><i class="fa-solid fa-building-columns" aria-hidden="true"></i> Publisher</a>
						<!-- <a href="https://openreview.net/forum?id=pAhg9hlxJV" target="_blank" rel="noopener noreferrer nofollow" class="pub-link"><i class="fa-regular fa-comments" aria-hidden="true"></i> OpenReview</a> -->
						<a href="/static/benes2026variational.bib.txt" target="_blank" rel="noopener noreferrer nofollow" class="pub-link js-bibtex" aria-expanded="false"><i class="fa-solid fa-quote-right" aria-hidden="true"></i> BibTeX</a>
					</article>
					<article class="list-item">
						<a href="/publications">More ...</a>
					</article>
				</div>
				<br />
			</div>

			<div class="row">
				<h2 class="section-header">Latest stories</h2>
				<hr class="section-separator" />

				<div>
				{% for post in site.posts limit:2 %}
					<article class="list-item">
						<a href="{{ post.url }}">{{ post.title }}</a>
						<p id="article-short-{{ post.id }}">{{ post.content | strip_html | truncate:180 }}</p>
					</article>
				{% endfor %}
					<article class="list-item">
						<a href="/stories">More ...</a>
					</article>
				</div>
				<br />

			</div>

		</div>
	</div>
</div>