---
layout: default
title: Publications
---


<div class="container main">
	{% include mobile-header.html %}
	<div class="row">
		<div class="col-md-5 col-sm-12 first-column hidden-xs hidden-sm">
			<h1 class="profile-header" title="[marc&#618;n &#712;b&#603;n&#603;&#643;]"><a href="/" class="noformat"><strong>Martin Beneš</strong></a><br />
				<span class="h5 text-muted">computer & data scientist</span>
			</h1>
			<img src="img/martinbenes.jpg" title="Martin Benes" class="profile-photo" alt="Title photo of the author Martin Benes." />
		</div>
		<div class="col-md-7 col-sm-12 second-column">
			{% include nav.html class="hidden-xs hidden-sm" %}
			<div class="row">
				<h2 class="section-header">Publications</h2>
				<hr class="section-separator" />
				<div>

					{% for pub in site.data.publications %}
					{% include publication.html pub=pub %}
					{% endfor %}

				</div>
				<br />
			</div>

		</div>
	</div>
</div>

