<footer>
    <div class="container-fluid">
        <h4 style="display: none">Footer</h4>
        <div class="col-md-3 col-sm-4 col-xs-12 footer-category-column">
            <h5>Quick links</h5>
            <div>
                <a href="/">Home</a>
            </div>
            <div>
                <a href="/stories">Stories</a>
            </div>
            <div>
                <a href="https://www.github.com/martinbenes1996" target="_blank" rel="noopener noreferrer nofollow" >GitHub</a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/martinbenes1996" target="_blank" rel="noopener noreferrer nofollow" >LinkedIn</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 footer-category-column">
            <h5>Social</h5>
            <div>
                <a href="https://www.instagram.com/martinbenes1996" target="_blank" rel="noopener noreferrer nofollow" >Instagram</a>
            </div>
            <div>
                <a href="https://www.facebook.com/martinbenes1996/" target="_blank" rel="noopener noreferrer nofollow" >Facebook</a>
            </div>
            <div>
                <a href="https://www.twitter.com/martinbenes1996" target="_blank" rel="noopener noreferrer nofollow" >Twitter</a>
            </div>
            <div>
                <a href="https://martinbenes1996.medium.com/" target="_blank" rel="noopener noreferrer nofollow" >Medium</a>
            </div>
            <div>
                <a href="https://orcid.org/0000-0003-0008-7524" target="_blank" rel="noopener noreferrer nofollow" >ORCID</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 footer-category-column">
            <h5>Miscellaneous</h5>
            <div>
                <a href="https://www.buymeacoffee.com/martinbenes1996" target="_blank" rel="noopener noreferrer nofollow">Buy me a coffee!</a>
            </div>
            <div>
                <a href="/sitemap.xml">Sitemap</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 footer-design-row">
            <!--<div>Registered on <time datetime="2021-06-28">Jun 28, 2021</time>.</div>
            <div>National tax number: 123456789</div><br>-->
            <div>Design by Martin Beneš &copy; 2021</div>
        </div>
    </div>
</footer>