<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-206809522-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-206809522-1');
	</script> -->

	<!-- <title>Martin Benes's Personal Page</title> -->
	<title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Web App Manifest -->
	<link rel="manifest" href="/static/manifest.json">

    <!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!-- Web Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/img/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="512x512" href="/img/android-chrome-512x512.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">

    <!-- Canonical URL, description, link previews -->
	{% include social-meta.html %}

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
	<!-- Font Awesome (icons) -->
	<link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
	<!-- Site scripts -->
	<script src="/js/bibtex.js" defer></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/syntax.css">
	<!-- <link rel="stylesheet" href="/css/notebook.css"> -->

	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

</head>